<div class="card">
        <div class="card-body">
           <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                 <a class="nav-link" 
                 [ngClass]="{'active':currentTab === 'basic'}"
                    id="basic-tab"  
                    role="tab" aria-controls="basic" 
                    aria-selected="true">Basic Info</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" 
                 [ngClass]="{'active':currentTab === 'elg'}"
                    id="elg-tab" 
                   role="tab" 
                    aria-controls="elg" 
                    aria-selected="false">Eligibility Info</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" 
                    [ngClass]="{'active':currentTab === 'kyh'}"
                    id="kyh-tab"
                     role="tab" 
                    aria-controls="kyh" 
                    aria-selected="false">KYH Info</a>
              </li>
           </ul>
           <br/>
           <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade" 
              [ngClass]="{'show active':currentTab === 'basic'}"
              id="basic" role="tabpanel" aria-labelledby="basic-tab">
                 <form>
                    <div class="form-row">
                       <div class="form-group col-md-3">
                          <label for="transactionType">TransactionType</label>
                          <select class="form-control">
                             <option>Eligibility</option>
                             <option>MCO</option>
                             <option>more</option>
                          </select>
                       </div>
                       <div class="form-group col-md-3">
                          <label for="inputEmail4">MaidCardNumber</label>
                          <input type="number" class="form-control" id="inputEmail4" placeholder="MaidCardNumber
                             ">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="inputCaseNumber">CaseNumber</label>
                          <input type="number" class="form-control" id="inputCaseNumber" placeholder="CaseNumber">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="inputSSN">SSN</label>
                          <input type="number" class="form-control" id="inputSSN" placeholder="SSN">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="inputFirstName">FirstName</label>
                          <input type="text" class="form-control" id="inputFirstName" placeholder="FirstName">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="inputLastName">LastName</label>
                          <input type="text" class="form-control" id="inputLastName" placeholder="LastName">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="inputDate">BirthDate</label>
                          <input type="date" class="form-control" id="inputDate" placeholder="Date">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="Gender">Gender</label>
                          <select class="form-control">
                             <option>Male</option>
                             <option>Female</option>
                          </select>
                       </div>
                       <div class="form-group col-md-6">
                          <label for="inputAddress">AddressLine1</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="Address">
                       </div>
                       <div class="form-group col-md-2">
                          <label for="inputCity">City</label>
                          <input type="text" class="form-control" id="inputCity" placeholder="City">
                       </div>
                       <div class="form-group col-md-2">
                          <label for="inputState">StateCode</label>
                          <input type="text" class="form-control" id="inputState" placeholder="StateCode">
                       </div>
                       <div class="form-group col-md-2">
                          <label for="inputZip">ZipCode</label>
                          <input type="text" class="form-control" id="inputZip" placeholder="ZipCode">
                       </div>
                       <button type="button" class="btn btn-info col-md-1 offset-md-11" style="float:right;"
                       (click)="submitBasicInfo()">next</button>
                    </div>
                 </form>
              </div>
              <div class="tab-pane fade" 
              [ngClass]="{'show active':currentTab === 'elg'}"
              id="elg" role="tabpanel" aria-labelledby="elg-tab">
                 <form>
                    <div class="form-row">
                       <div class="form-group col-md-3">
                          <label for="income">CaseCountableIncome
                          </label>
                          <input type="number" class="form-control" 
                             id="income" placeholder="CaseCountableIncome">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="ProgramCode">ProgramCode
                          </label>
                          <input type="number" class="form-control" 
                             id="ProgramCode" placeholder="ProgramCode
                             ">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="StatusCode
                             ">StatusCode
                          </label>
                          <input type="number" class="form-control" 
                             id="StatusCode"
                             placeholder="StatusCode">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="IMIDCode">IMIDCode
                          </label>
                          <input type="number" class="form-control" 
                             id="IMIDCode" placeholder="IMIDCode">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="EligibilityStartDate">EligibilityStartDate
                          </label>
                          <input type="date" class="form-control" id="EligibilityStartDate" placeholder="EligibilityStartDate">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="EligibilityEndDate">EligibilityEndDate
                          </label>
                          <input type="date" class="form-control" id="EligibilityEndDate" placeholder="EligibilityEndDate">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="EnrollmentStartDate">EnrollmentStartDate
                          </label>
                          <input type="date" class="form-control" id="EnrollmentStartDate" placeholder="EnrollmentStartDate">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="EnrollmentEndDate">EnrollmentEndDate
                          </label>
                          <input type="date" class="form-control" id="EnrollmentEndDate" placeholder="EnrollmentEndDate">
                       </div>
                       <button type="button" class="btn btn-info col-md-1" 
                       (click)="submitPrev()">prev</button>
                       <button type="button" class="btn btn-info col-md-1 offset-md-10"
                       (click)="submitElgInfo()">next</button>
                    </div>
                 </form>
              </div>
              <div class="tab-pane fade" id="kyh"
              [ngClass]="{'show active':currentTab === 'kyh'}"
              role="tabpanel" aria-labelledby="kyh-tab">
                 <form>
                    <div class="form-row">
                       <div class="form-group col-md-2">
                          <label for="IssuerId">IssuerId</label>
                          <input type="number" class="form-control" id="IssuerId" placeholder="IssuerId">
                       </div>
                       <div class="form-group col-md-2">
                          <label for="EligibilityType">EligibilityType</label>
                          <select class="form-control">
                             <option>A</option>
                             <option>C</option>
                          </select>
                       </div>
                       <div class="form-group col-md-2">
                          <label for="KYHPlanType">KYHPlanType </label>
                          <select class="form-control">
                             <option>A</option>
                             <option>C</option>
                          </select>
                       </div>
                       <div class="form-group col-md-2">
                          <label for="KYHPremiumPlanCode">
                          KYHPremiumPlanCode
                          </label>
                          <select class="form-control">
                             <option>Y</option>
                             <option>N</option>
                             <option>O</option>
                          </select>
                       </div>
                       <div class="form-group col-md-2">
                          <label for="KYHCopayIndicator">
                          KYHCopayIndicator
                          </label>
                          <select class="form-control">
                             <option>Y</option>
                             <option>N</option>
                             <option>O</option>
                          </select>
                       </div>
                       <div class="form-group col-md-2">
                          <label for="KYHPregnancyIndicator">
                          KYHPregnancyIndicator
                          </label>
                          <select class="form-control">
                             <option>Y</option>
                             <option>N</option>
                             <option>O</option>
                          </select>
                       </div>
                       <div class="form-group col-md-3">
                          <label for="KYHIndStartDate">
                          KYHIndStartDate
                          </label>
                          <input type="date" class="form-control" id="KYHIndStartDate" placeholder="KYHIndStartDate">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="KYHIndEndDate">
                          KYHIndEndDate                                               
                          </label>
                          <input type="date" class="form-control" id="KYHIndEndDate" placeholder="KYHIndEndDate">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="KYHPremiumAmt">
                          KYHPremiumAmt
                          </label>
                          <input type="number" class="form-control" id="KYHPremiumAmt
                             " placeholder="KYHPremiumAmt">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="KYHPremiumStartDate">
                          KYHPremiumStartDate
                          </label>
                          <input type="date" class="form-control" id="KYHPremiumStartDate" placeholder="KYHPremiumStartDate">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="KYHPremiumEndDate">
                          KYHPremiumEndDate
                          </label>
                          <input type="date" class="form-control" id="KYHPremiumEndDate" placeholder="KYHPremiumEndDate">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="ProcessedByMMIS">
                          ProcessedByMMIS
                          </label>
                          <select class="form-control">
                             <option>Y</option>
                             <option>N</option>
                             <option>O</option>
                          </select>
                       </div>
                       <div class="form-group col-md-4">
                          <label for="ProcessedByMCO">
                          ProcessedByMCO
                          </label>
                          <select class="form-control">
                             <option>Y</option>
                             <option>N</option>
                             <option>O</option>
                          </select>
                       </div>
                    </div>
                    <button type="button" class="btn btn-info col-md-1" 
                    (click)="submitBasicInfo()">prev</button>
                    <button type="button" class="btn btn-info col-md-1 offset-md-10"
                    (click)="submitKYHInfo()">
                    submit</button>
                 </form>
              </div>
           </div>
           <br/>
        </div>