<div class="card">
        <div class="card-body">
           <br/>
                 <form>
                    <div class="form-row">
                       <div class="form-group col-md-3">
                          <label for="transactionType">TransactionType</label>
                          <select class="form-control">
                             <option>Eligibility</option>
                             <option>MCO</option>
                             <option>more</option>
                          </select>
                       </div>
                       <div class="form-group col-md-3">
                          <label for="inputCaseNumber">CaseNumber</label>
                          <input type="number" class="form-control" id="inputCaseNumber" placeholder="CaseNumber">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="CoverageMonth">CoverageMonth
                           </label>
                          <input type="date" class="form-control" id="CoverageMonth" placeholder="CoverageMonth">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="IssuerId">IssuerId</label>
                          <input type="number" class="form-control" id="IssuerId" placeholder="IssuerId">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="invoiceDate">InvoiceDate</label>
                          <input type="date" class="form-control" id="invoiceDate" placeholder="InvoiceDate">
                       </div>
                       <div class="form-group col-md-3">
                          <label for="dueDate">DueDate</label>
                          <input type="date" class="form-control" id="dueDate" placeholder="DueDate">
                       </div>
                       <div class="form-group col-md-3">
                           <label for="premAmount">PremiumAmount</label>
                           <input type="number" class="form-control" id="premAmount" placeholder="PremiumAmount">
                        </div>
                       <div class="form-group col-md-3">
                          <label for="paymentStatus">PaymentStatus</label>
                          <select class="form-control">
                             <option>Y</option>
                             <option>N</option>
                          </select>
                       </div>
                       <div class="form-group col-md-3">
                           <label for="iees">ProcessedByIEES</label>
                           <select class="form-control">
                              <option>Y</option>
                              <option>N</option>
                           </select>
                        </div>
                       <button type="button" class="btn btn-info col-md-1 offset-md-11" style="float:right;"
                       (click)="submitInvoiceInfo()">submit</button>
                    </div>
                 </form>
              </div></div>
              