.table {
    font-size: 14px;
}
.table-mmis{
    background:black!important;
    color:white;
}
.table-iees{
    background:#030d49!important;
    color:white;
}
.table-mco{
    background:#281801!important;
    color:white;
}