<div class="row">
    <div class="col-md-12" *ngIf="userName !== 'iees'">
          <table class="table table-striped">
            <thead>
              <tr [ngClass]="'table-'+userName">
                <th>#</th>
                <th>CaseNumber</th>
                <th>MaidCardNumber</th>
                <th>IssuerId</th>
                <th>EligibilityStartDate</th>
                <th>EnrollmentStartDate</th>
                <th>TransactionId</th>
                <th>CreateDate</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dummyData;let index = index" style="text-align: center;cursor: pointer;" (click)="openModal(content,item.transactionId)" data-toggle="modal" data-target="#myModal">
                <td>{{index+1}}</td>
                <td>{{item.caseNumber}}</td>
                <td>{{item.maidCardNumber}}</td>
                <td>{{item.issuerId}}</td>
                <td>{{item.eligibilityStartDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{item.enrollmentStartDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{item.transactionId}}</td>
                <td>{{item.createDate | date: 'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
      </div>
          <div class="col-md-12" *ngIf="userName === 'iees'">
            
                <table class="table table-striped">
                  <thead>
                    <tr [ngClass]="'table-'+userName">
                      <th>#</th>
                      <th>CaseNumber</th>
                      <th>CoverageMonth</th>
                      <th>PremiumAmount</th>
                      <th>TransactionId</th>
                      <th>CreateDate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of dummyData;let index = index" style="text-align: center;cursor: pointer;" (click)="openModal(content,item.transactionId)" data-toggle="modal" data-target="#myModal">
                      <td>{{index+1}}</td>
                      <td>{{item.caseNumber}}</td>
                      <td>{{item.coverageMonth | date: 'dd/MM/yyyy'}}</td>
                      <td>{{item.premiumAmount | currency}}</td>
                      <td>{{item.transactionId}}</td>
                      <td>{{item.createDate | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
</div>

<ng-template #content let-modal class="tableFont">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Transaction Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-sm">
            <thead>
                <tr [ngClass]="'table-'+userName">
                    <th>#</th>
                    <th>Transaction Type</th>
                    <th>Action</th>
                </tr>
            </thead>
          
          <tbody>
            <tr *ngFor="let item of modalTransactionDetails; let j= index">
              <td>{{j+1}}</td>
              <td>
                <b>{{item.transactionType}}</b>
                <div [hidden]="item.hidden">
                    <table class="table table-sm">
                      <!-- Eligibility Information -->
                      <tbody *ngIf="item.transactionType === 'Eligibility'" class="fixedHeightModalTableRows">
                          <tr>
                              <td><small><b>Maid Card Number</b></small></td>
                              <td style="text-align: center"><small>{{item.maidCardNumber}}</small></td>
                          </tr>
                          <tr>
                              <td><small><b>CaseNumber</b></small></td>
                              <td style="text-align: center"><small>{{item.caseNumber}}</small></td>
                          </tr>
                          <tr>
                            <td><small><b>SSN</b></small></td>
                            <td style="text-align: center"><small>{{item.ssn}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>First Name</b></small></td>
                            <td style="text-align: center"><small>{{item.firstName}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Last Name</b></small></td>
                            <td style="text-align: center"><small>{{item.lastName}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Date Of Birth</b></small></td>
                            <td style="text-align: center"><small>{{item.dateOfBirth | date :'dd/MM/yyyy'}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Gender</b></small></td>
                            <td style="text-align: center"><small>{{item.gender}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Address</b></small></td>
                            <td style="text-align: center"><small>{{item.address}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>City</b></small></td>
                            <td style="text-align: center"><small>{{item.city}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>State Code</b></small></td>
                            <td style="text-align: center"><small>{{item.stateCode}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Zip Code</b></small></td>
                            <td style="text-align: center"><small>{{item.zipCode}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Case countable income</b></small></td>
                            <td style="text-align: center"><small>{{item.caseCountableIncome}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Program code</b></small></td>
                            <td style="text-align: center"><small>{{item.programCode}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Status Code</b></small></td>
                            <td style="text-align: center"><small>{{item.statusCode}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>IMID Code</b></small></td>
                            <td style="text-align: center"><small>{{item.imidCode}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Eligibility Start Date</b></small></td>
                            <td style="text-align: center"><small>{{item.eligibilityStartDate | date :'dd/MM/yyyy'}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Eligibility End Date</b></small></td>
                            <td style="text-align: center"><small>{{item.eligibilityEndDate | date :'dd/MM/yyyy'}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Enrollment Start Date</b></small></td>
                            <td style="text-align: center"><small>{{item.enrollmentStartDate | date :'dd/MM/yyyy'}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Enrollment End Date</b></small></td>
                            <td style="text-align: center"><small>{{item.enrollmentEndDate | date :'dd/MM/yyyy'}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Issuer Id</b></small></td>
                            <td style="text-align: center"><small>{{item.issuerId}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Eligibility Type</b></small></td>
                            <td style="text-align: center"><small>{{item.eligibilityType}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>KYH Plan Type</b></small></td>
                            <td style="text-align: center"><small>{{item.kyhPlanType}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>KYH premium plan code</b></small></td>
                            <td style="text-align: center"><small>{{item.kyhPremiumPlanCode}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>KYH Copay Indicator</b></small></td>
                            <td style="text-align: center"><small>{{item.kyhCopayIndicator}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>KYH Pregnancy Indicator</b></small></td>
                            <td style="text-align: center"><small>{{item.kyhPregnancyIndicator}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>KYH Ind Start Date</b></small></td>
                            <td style="text-align: center"><small>{{item.kyhIndStartDate | date :'dd/MM/yyyy'}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>KYH Ind End Date</b></small></td>
                            <td style="text-align: center"><small>{{item.kyhIndEndDate | date :'dd/MM/yyyy'}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>KYH Premium Amount</b></small></td>
                            <td style="text-align: center"><small>{{item.kyhPremiumAmount | currency}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>KYH Premium Start Date</b></small></td>
                            <td style="text-align: center"><small>{{item.kyhPremiumStartDate | date :'dd/MM/yyyy'}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>KYH Premium End Date</b></small></td>
                            <td style="text-align: center"><small>{{item.kyhPremiumEndDate | date :'dd/MM/yyyy'}}</small></td>
                        </tr>
                          <tr>
                              <td><small><b>Processed By MMIS</b></small></td>
                              <td style="text-align: center">
                                  <small>
                                      <input [disabled]="userName==='mco'?true:false" type="checkbox" [checked]="item.processedByMMIS=='Y'?true:false" (change)="item.processedByMMIS = !item.processedByMMIS" />
                                  </small>
                              </td>
                          </tr>
                          <tr>
                              <td><small><b>Processed By MCO</b></small></td>
                              <td style="text-align: center">
                                  <small>
                                      <input [disabled]="userName==='mmis'?true:false" type="checkbox" [checked]="item.processedByMCO=='Y'?true:false" (change)="item.processedByMCO = !item.processedByMCO" />
                                  </small>
                              </td>
                          </tr>
                      </tbody>
                      <!-- Invoice Infromation -->
                      <tbody *ngIf="item.transactionType === 'Invoice'" class="fixedHeightModalTableRows">
                        <tr>
                            <td><small><b>CaseNumber</b></small></td>
                            <td style="text-align: center"><small>{{item.caseNumber}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Coverage Month</b></small></td>
                            <td style="text-align: center"><small>{{item.coverageMonth | date: 'dd/MM/yyyy'}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Issuer Id</b></small></td>
                            <td style="text-align: center"><small>{{item.issuerId }}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Invoice Date</b></small></td>
                            <td style="text-align: center"><small>{{item.invoiceDate | date :'dd/MM/yyyy' }}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Due Date</b></small></td>
                            <td style="text-align: center"><small>{{item.dueDate | date :'dd/MM/yyyy' }}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Premium Amount</b></small></td>
                            <td style="text-align: center"><small>{{item.premiumAmount | currency }}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Payment Status</b></small></td>
                            <td style="text-align: center">
                                <small>
                                    <input disabled="true" type="checkbox" [checked]="item.paymentStatus==='Y'?true:false" />
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td><small><b>Processed By IEES</b></small></td>
                            <td style="text-align: center">
                                <small>
                                    <input type="checkbox" [checked]="item.processedByIEES == 'Y'?true:false" (change)="item.processedByIEES = !item.ProcessedByIEES" />
                                </small>
                            </td>
                        </tr>
                    </tbody>

                    <!-- Payment Infromation -->
                    <tbody *ngIf="item.transactionType === 'Payment'" class="fixedHeightModalTableRows">
                        <tr>
                            <td><small><b>CaseNumber</b></small></td>
                            <td style="text-align: center"><small>{{item.caseNumber}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Coverage Month</b></small></td>
                            <td style="text-align: center"><small>{{item.coverageMonth | date: 'dd/MM/yyyy'}}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Issuer Id</b></small></td>
                            <td style="text-align: center"><small>{{item.issuerId }}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Invoice Date</b></small></td>
                            <td style="text-align: center">
                                <small>
                                    {{item.invoiceDate | date: 'dd/MM/yyyy'}}
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td><small><b>Due Date</b></small></td>
                            <td style="text-align: center"><small>{{item.dueDate | date :'dd/MM/yyyy' }}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Premium Amount</b></small></td>
                            <td style="text-align: center"><small>{{item.premiumAmount | currency }}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Payment DAte</b></small></td>
                            <td style="text-align: center"><small>{{item.paymentDate | date :'dd/MM/yyyy' }}</small></td>
                        </tr>
                        <tr>
                            <td><small><b>Payment Status</b></small></td>
                            <td style="text-align: center">
                                <small>
                                    <input disabled="true" type="checkbox" [checked]="item.paymentStatus == 'Y'?true:false"  />
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td><small><b>Processed By IEES</b></small></td>
                            <td style="text-align: center">
                                <small>
                                    <input type="checkbox" [checked]="item.processedByIEES == 'Y' ?true:false" (change)="item.processedByIEES = !item.ProcessedByIEES" />
                                </small>
                            </td>
                        </tr>
                    </tbody>
                      </table>
                  </div>
              </td>
              <td style="text-align: center">
                  <a [hidden]="!item.hidden"  class="Pointer smallButton" (click)="ShowDetails(item)">View
                      More</a>
                  <a [hidden]="item.hidden" class="Pointer smallButton" (click)="HideDetails(item)">View Less</a>
                  <br>
                  <button [hidden]="item.hidden" class="btn btn-info btn-sm" (click)="HideDetails(item)" style="margin-top: 35%">Submit</button>
              </td>

            </tr>
          </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" (click)="modal.close()">Dismiss</button>
    </div>
</ng-template>
